[submodule "homebrew-brew"]
	path = homebrew-brew
	url = https://github.com/2gis/homebrew-brew.git
[submodule "ObjCCLIInfra"]
	path = ObjCCLIInfra
	url = https://github.com/wix-incubator/ObjCCLIInfra.git
[submodule "fmdb"]
	path = fmdb
	url = https://github.com/ccgus/fmdb.git
